<div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
<div class="flex flex-wrap justify-center gap-5">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">Header</h1>
  <a href="#/clients/add" class="rounded-lg border border-sky-500 bg-sky-500 px-5 py-2.5 text-center text-sm font-medium text-white shadow-sm transition-all hover:border-sky-700 hover:bg-sky-700 focus:ring focus:ring-sky-200 disabled:cursor-not-allowed disabled:border-sky-300 disabled:bg-sky-300">Add</a>
  <a href="#/clients/add" class="rounded-lg border border-sky-100 bg-sky-100 px-5 py-2.5 text-center text-sm font-medium text-sky-600 transition-all hover:border-sky-200 hover:bg-sky-200 focus:ring focus:ring-sky-50 disabled:border-sky-50 disabled:bg-sky-50 disabled:text-sky-400">Add</a>
</div>
</div>
